/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */
@media only screen and (max-width: 940px) {
  .scontainer, .slider__controls {
    width: 768px;
  }

  .logo__img {
    display: none;
  }

  .logo__link {
    display: inline-block;
    width: 200px;
    height: 200px;
  }

  .logo {
    width: 150px;
    height: 150px;

    /* background-color: white;
     opacity: 0.8; */
    border-radius: 50%;
    background-image: url('../img/logo_footer.png');
    background-repeat: no-repeat;
    background-position: center center;

    /*
    top: 50%;
    transform: translate(-50%, -50%);*/
  }

  .nav__item-link {
    padding: 20px 15px;
  }

  .number__phone-inner {
    font-size: 18px;
  }

  .numbers__phone {
    width: 155px;
  }

  .soc__list {
    margin-left: 20px;
  }

  .header-bottom__title {
    top: -32px;
    width: 300px;
    background: url('../img/white-cloud-small.png') no-repeat;
    border-radius: 25px 25px 0 0;
  }

  .header-bottom__title-inner {
    padding: 32px 15px;
    font-size: 24px;
  }

  .make-summer {
    margin: 10px 0;
  }

  .about-us {
    text-align: center;
    background: url('../img/who-we-b.png') top center no-repeat;
    height: 600px;
  }

  .about-us__left {
    display: block;
    margin: 0;
  }

  .about-us__title {
    display: block;
    width: 100%;
  }

  .about-us__text {
    margin: 0;
  }

  .about-us__photo {
    margin-top: 0;
  }

  .advantage__item {
    background: url('../img/advantages_item_bgu_small.png') no-repeat center;
    width: 332px;
    height: 224px;
  }

  .advantage__item-inner {
    top: 20px;
  }

  .advantage__item-bottom {
    bottom: 30px;
  }

  .advantage__item:first-child {
    margin-right: 40px;
  }

  .rule {
    padding: 50px 0;
    background: url('../img/butterfly.png') center center no-repeat;
  }

  .rule__title {
    margin-bottom: 40px;
  }

  .rules__item {
    margin-bottom: 30px;
  }

  .rules__container {
    width: 768px;
    position: static;
    margin: 0 auto;
    text-align: center;
    transform: translate(0, 0);
    -webkit-background-size: contain;
    background-size: contain;
    background: none;
  }

  .first-meet {
    position: static;
    text-align: left;
  }

  .make-present {
    position: static;
    width: 180px;
    text-align: left;
  }

  .deal {
    position: static;
    text-align: left;
  }

  .make-script {
    position: static;
    line-height: 111px;
    width: auto;
    padding-left: 150px;

    .rules__item-text {
      padding-top: 0;
    }
  }

  .choose-artist {
    width: 120px;
    position: static;

    .rules__item-text {
      width: 145px;
    }
  }

  .coordination, .send-photo {
    position: static;
  }

  .footer__make-order, .footer-logo, .numbers__phone-footer {
    margin-right: 10px;
  }

  .contact__info {
    vertical-align: top;
    float: none;
    width: 245px;
  }

  .contact__form {
    float: none;
  }

  .reviews__item-left {
    display: block;
    margin: 0 auto 25px;
  }

  .reviews__item-title {
    text-align: center;
    margin-bottom: 15px;
  }

  .reviews__item-right {
    float: none;
  }

  .services-rest__list {
    text-align: center;
  }

  .services-rest__item {
    margin: 0 30px 60px;

    &:nth-child(3n+1) {
      margin-left: 30px;
    }
  }

  .price__item {
    margin-bottom: 30px;
  }

  .package {
    display: block;
    width: 350px;
    margin: 0 auto 20px;

    &:first-child {
      margin-left: auto;
    }
  }

  .serv__list {
    text-align: center;
  }

  .serv__item {
    padding: 15px;
    margin: 0 0 5px 0;
  }

  .technical {
    top: 0;
    left: 275px;
  }

  .costs {
    left: 90px;
    top: 90px;
  }

  .unexpected {
    top: 124px;
    left: 440px;
  }

  .program {
    top: 222px;
    left: 20px;
    text-align: right;
  }

  .banquet {
    top: 220px;
    left: 565px;
  }

  .decoration {
    top: 450px;
    left: 275px;
    text-align: right;
  }

  .portfolio__item-bottom-img-wrap {
    width: auto;
    height: 390px;
    overflow: hidden;
  }

  .portfolio__item-top {
    text-align: center;
  }

  .portfolio__item-img-wrap {
    margin-bottom: 10px;
  }

  .port-slider__controls, .specific-slider__controls {
    width: 768px;
  }

  .specific-block__left {
    margin-bottom: 20px;
    text-align: center;
  }

  .specific-block__right {
    width: 768px;
  }

  .spec-artist__photo-wrap {
    margin: 0;
  }

  .spec-artist__photo {
    text-align: center;
  }

  .spec-artist__photo-wrap {
    margin: 15px;
  }

  .sovety__item-right {
    width: 480px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .scontainer, .slider__controls {
    width: 480px;
  }

  .header-bottom__title {
    display: none;
  }

  .nav__item-link {
    padding: 10px 5px;
  }

  .header-bottom {
    width: 364px;
    background: url('../img/black-clodud-small.png') no-repeat;
    text-align: center;
  }

  .make-summer {
    display: none;
  }

  .slide-pager {
    float: none;
    margin: 0;
  }

  .soc__list {
    display: none;
  }

  .logo {
    background-color: transparent;
    top: -15px;
    left: 0;
    transform: translate(0, 0);
  }

  .numbers {
    position: relative;
    float: right;
  }

  .nav__list {
    text-align: center;
  }

  .nav__item {
    padding: 5px 20px 5px;
  }

  .about-us__text {
    width: 480px;
  }

  .description {
    padding: 30px 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .goals__list {
    width: 480px;
  }

  .goals__item {
    margin-right: 0;
  }

  .advantage__item {
    &:first-child {
      margin: 0;
      animation: upper 30s linear infinite;
    }

    background: url('../img/advantages_item_bgu.png') no-repeat center;
    width: 452px;
    height: 305px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%, 0);

    &:nth-child(2) {
      animation: upper2 30s linear infinite;
    }
  }

  @keyframes upper {
    0% {
      opacity: 1;
    }

    45% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    95% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes upper2 {
    0% {
      opacity: 0;
    }

    45% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    95% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .rules__item {
    width: 250px;
    margin-bottom: 20px;
    padding: 0;
  }

  .rules__container {
    width: 480px;
    padding-bottom: 0;
  }

  .rules__item {
    text-align: center;
    line-height: 18px;
    padding-top: 125px;
    height: 40px;

    .rules__item-text {
      text-align: center;
      width: 200px;
    }
  }

  .first-meet {
    background-position: 65px 0;
  }

  .make-present {
    background-position: 65px -316px;
  }

  .deal {
    background-position: 65px -582px;
  }

  .make-script {
    background-position: 65px -830px;
  }

  .choose-artist {
    background-position: 65px -1141px;
  }

  .coordination {
    background-position: 65px -1510px;
    margin-bottom: 45px;
  }

  .send-photo {
    background-position: 65px -1832px;
  }

  .footer {
    text-align: center;
  }

  .footer__make-order, .footer-logo, .numbers__phone-footer {
    vertical-align: middle;
  }

  .footer__text {
    display: inline-block;
    float: none;
    vertical-align: middle;
  }

  .form {
    padding: 10px;
  }

  .contact__form {
    width: 370px;
  }

  .reviews__item-right {
    width: 410px;
  }

  .price__item {
    margin-left: 0;
  }

  .price__budget, .budget__list {
    height: auto;
  }

  .budget__item {
    display: block;
    text-align: left;
    position: static;
    text-align: center;
    margin-bottom: 10px;
  }

  .budget__item-desrc {
    line-height: 15px;
  }

  .portfolio__item-img-wrap {
    margin-left: 0;
  }

  .portfolio__item-cloud {
    width: 440px;
    height: 120px;
    padding: 30px 10px 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
  }

  .port-slider__controls, .specific-block__right, .specific-slider__controls {
    width: 480px;
  }

  .sovety__item-left {
    width: auto;
    display: block;
  }

  .sovety__item-right {
    float: none;
    width: auto;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .scontainer, .slider__controls {
    width: 320px;
  }

  .numbers {
    width: 160px;
  }

  .numbers__btn {
    display: none;
  }

  .make-order {
    display: none;
    text-align: center;
    float: none;
    margin-top: 10px;
  }

  .make-order__link {
    margin: 0;
  }

  .header-bottom {
    width: 358px;
  }

  .navigation {
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.4);
  }

  .nav__title {
    display: block;
  }

  .nav__list {
    text-align: center;
    display: none;
  }

  .nav__item {
    padding: 0;
    display: block;
    margin-bottom: 15px;
  }

  .nav__item-link {
    padding: 10px 0;
    display: block;
  }

  .about-us__text {
    width: 340px;
    font-size: 15px;
  }

  .about-us__photo {
    background: transparent;
    padding: 0;
  }

  .goals__list {
    width: 320px;
  }

  .goals__item {
    width: auto;
  }

  .advantage__item {
    background: url('../img/advantages_item_bgu_small.png') no-repeat center;
    width: 332px;
    height: 224px;
  }

  .rules__container {
    width: 340px;
    height: auto;
  }

  .footer__make-order {
    margin: 0 30px 20px;
  }

  .footer-logo, .numbers__phone-footer {
    margin-bottom: 20px;
  }

  .footer__text {
    width: auto;
    display: block;
    text-align: center;
  }

  .contact__form-inner, .contact__form {
    width: 300px;
  }

  .contact__input, .contact__textarea {
    width: 250px;
  }

  .reviews__item {
    padding: 30px 5px;
  }

  .reviews__item-right {
    width: 310px;
  }

  .services-rest__item {
    margin: 0 0 30px;

    &:nth-child(3n+1) {
      margin-left: 0;
    }
  }

  .package {
    width: 263px;
  }

  .guaranties__border {
    padding: 30px 10px;
  }

  .guaranties__item {
    width: 150px;
    margin: 10px 0;
    padding-left: 60px;
  }

  .serv__item {
    width: 245px;
    padding: 15px 5px;
  }

  .budget__list {
    -webkit-background-size: contain;
    background-size: contain;
  }

  .portfolio__item-cloud {
    width: 280px;
    height: 160px;
    padding: 10px 5px 0;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    text-align: center;
  }

  .portfolio__cloud-right {
    display: inline-block;
    float: none;
    text-align: center;
  }

  .portfolio__cloud-left {
    display: inline-block;
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .port-slider__controls {
    width: 320px;
  }

  .portfolio__item-img-wrap {
    width: 280px;
  }

  .specific-block__right, .specific-slider__controls {
    width: 320px;
  }

  .services__item-link.wide-block {
    width: 230px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {}
