.wp-pagenavi {
  clear: both;
  a,
  span {
    margin: 2px;
    padding: 3px 5px;

    text-decoration: none;

    border: 1px solid #bfbfbf;
  }
  a:hover {
    border-color: #000000;
  }
  span.current {
    font-weight: bold;

    border-color: #000000;
  }
}
