.ngg-trigger-buttons {
  clear: both;
  text-align: right;
  font-size: 12px;
  line-height: 1em;
  margin: 0;

  &.hidden {
    display: none;
  }
}

.ngg-trigger-large {
  font-size: 16px;
  margin: 0 10px;
}

.ngg-trigger-buttons .ngg-trigger {
  margin-left: .3em;
  cursor: pointer;

  &:active, &:focus, &:visited {
    color: #999;
  }

  color: #999;

  &:hover {
    color: #333;
  }
}

.galleria.photocrati-nextgen_pro_horizontal_filmstrip {
  margin-bottom: 5px;
}

@media screen and (min-width: 0) and (max-width: 1024px) {
  .ngg-trigger-buttons.mobile-hide {
    display: none;
  }
}
